In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv("./chatlogs/uncleanData.csv")

,chat_date,chat_hour,chat_minute,user,chat_message
0,2014-06-01,16,17,timbl_,timbl_ is now known as timbl
1,2014-06-01,18,54,Lajjla,Lajjla is now known as PhallicQ
2,2014-06-01,20,4,ormaaj_,ormaaj_ is now known as ormaaj
3,2014-06-01,20,46,wu_,wu_ is now known as ix9
4,2014-06-01,22,58,ix9,ix9 is now known as wu_
...,...,...,...,...,...
174,2014-06-04,21,37,danbri,A:License?
175,2014-06-04,21,37,dc_swig_,Added comment A1.
176,2014-06-04,21,37,danbri,A1:Licence?
177,2014-06-04,21,37,dc_swig_,Replaced comment A1.
178,2014-06-04,21,42,ktk,ktk is now known as ktkNA