In [ ]:
import pandas as pd
import numpy as np
from pandasql import sqldf, load_meat
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
data = pd.read_csv("./chatlogs/uncleanData.csv")

In [ ]:
data

In [ ]:
query = "SELECT * FROM data"

In [ ]:
test = sqldf(query)
test.head()

In [ ]:
from pandasql import sqldf

In [ ]:
def select_sql(df_a):
    return sqldf("select * from df_a", locals())

In [ ]:
select_sql(data)

In [ ]:
meat = load_meat()

In [ ]:
pysqldf("SELECT * FROM meat LIMIT 10;").head()

In [ ]:
import pandas as pd
from pandasql import sqldf

# Create a sample pandas DataFrame
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['A', 'B', 'C']})

# Use pandasql to perform a SELECT statement on the DataFrame
pysqldf = lambda q: sqldf(q, globals())
result = pysqldf("SELECT * FROM df")

# Display the result
print(result)

In [2]:
from pandasql import sqldf, load_meat, load_births
pysqldf = lambda q: sqldf(q, globals())

In [3]:
meat = load_meat()
births = load_births()

In [4]:
print(pysqldf("SELECT * FROM meat LIMIT 10;").head())

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM meat LIMIT 10;'

In [5]:
import nltk
from nltk import word_tokenize
from nltk.probability import FreqDist
import urllib.request
from matplotlib import pyplot as plt
from wordcloud import WordCloud
nltk.download('punkt')

ModuleNotFoundError: No module named 'matplotlib'